.dashboard-container {
  display: flex;
  flex-flow: column wrap;
  padding: 10px;
}

app-filter, app-counter {
  display: flex;
  justify-content: center;
}

.charts-container {
  margin: 0 50px;
  padding: 5px 150px 20px 150px;
}